<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF8"> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../../static/webApp/css/bootstrap.min.css" media="screen" /> 
<link rel="stylesheet" type="text/css" href="../../static/webApp/css/dc.css" media="screen" /> 
<link rel="stylesheet" type="test/css" href="../../static/webApp/css/main.css" media="screen"/>
<link rel="stylesheet" type="test/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.min.css">
  
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js" type="text/javascript"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../static/webApp/js/attendance.js"></script>
<script>
function alertBox() {
    alert("I am an alert box!");
}
</script>
<style>
#CSVbutton{
  height: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 8px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; padding-bottom: 5px;}
.right-addon input { padding-right: 30px; }

</style>
</head>
<body>
	<input type = "hidden" id = "json" value = "{{json}}">
	<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="/template/home"> <span class="glyphicon glyphicon-home"></span> NMS-occupancy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/template/chart1/"><span class="glyphicon glyphicon-stats"></span> Chart1</a></li>
        <li><a href="/template/chart2/"><span class="glyphicon glyphicon-stats"></span> Chart2</a></li>
        <li class = "active"><a href="/template/attendance/"><span class="glyphicon glyphicon-list-alt"></span> TA Attendance</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li>{{user.username}}</li> -->
        {% if user and not user.is_anonymous %}
        <li><a href="{% url 'auth:logout' %}?next={{ request.path }}"> <span class="glyphicon glyphicon-user"></span> Logout</a></li>
        {% else %}
        <li><a href = "{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="glyphicon glyphicon-user"></i>  Login
        </a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- <button type = "button" id = "CSVbutton" onClick = "/template/chart1/"> Download as CSV</button> -->
<!-- <a href "/template/chart1">CLickMe</a> -->
{% if access == 1 %}


<form id = "CSVbutton" action = "/template/attendance_CSV">
  <div class="inner-addon left-addon">
    <input type  = "submit" value = "CSV File">
    <i class="glyphicon glyphicon-download-alt"></i>
    
  </div>
</form>

	<div id = "table-container" class ="display">
		<table id="table_id" class="display">
  {% elif user.username != "" %}
  <div class="alert alert-danger" role="alert">
    <p class = "lead">Not authorized to view the data.</p>
  </div>
  {% else %}
  <div class="alert alert-success" role="alert">
    <p class = "lead">Login to view the data</p>
  </div>
{% endif %}
		</table>
	</div>

</body>
</html>