<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF8"> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../../../static/webApp/css/bootstrap.min.css" media="screen" /> 
<link rel="stylesheet" type="text/css" href="../../../static/webApp/css/dc.css" media="screen" /> 
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../../static/webApp/css/admin.css" media="screen"/>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.min.css">
  
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../static/webApp/js/attendance.js"></script>
<script>
function alertBox() {
    alert("I am an alert box!");
}
</script>
<style>
#CSVbutton{
  height: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 8px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; padding-bottom: 5px;}
.right-addon input { padding-right: 30px; }

</style>
</head>
<body>
	<input type = "hidden" id = "json" value = "{{json}}">
	<nav class="navbar navbar-custom" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand" href="/template/admin"> <span class="glyphicon glyphicon-home"></span> NMS-occupancy</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class = "active"><a href="/template/admin/"><span class="glyphicon glyphicon-list-alt"></span> Attendance</a></li>
        <li ><a href="/template/admin/students/"><span class="glyphicon glyphicon-list-alt"></span> Manage Students</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li>{{user.username}}</li> -->
        {% if user and not user.is_anonymous %}
        <li><a href="{% url 'auth:logout' %}?next={{ request.path }}"> <span class="glyphicon glyphicon-user"></span> Logout</a></li>
        {% else %}
        <li><a href = "{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="glyphicon glyphicon-user"></i>  Login
        </a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- <button type = "button" id = "CSVbutton" onClick = "/template/chart1/"> Download as CSV</button> -->
<!-- <a href "/template/chart1">CLickMe</a> -->
{% if access == 1 %}


<!--form id = "CSVbutton" action = "/template/attendance_CSV">
  <div class="inner-addon left-addon">
    <input type  = "submit" value = "CSV File">
    <i class="glyphicon glyphicon-download-alt"></i>
    
  </div>
</form-->
<!-- Add DIVS for each button in the menu -->
<div id="download" class="sub-menu-window">
  <div class="sub-menu-container">
    <form>
      <div class="sub-menu-title">
      Download Attendance
      </div>
      <div class="sub-menu-options">
      Select month:
      </div>
      <div class="form-elements">
          <select name="month" class="form-control valign-this-block">
          <option value="11">November</option>
          <option value="12">December</option>
          </select>
      </div>
      <div class="sub-menu-button btn btn-default btn-lg">
      Download
      </div>
      <div id="download-cancel" class="sub-menu-button btn btn-default btn-lg">
      Close
      </div>
    </form>
  </div>
</div>
<div id="modify" class="sub-menu-window">
  <div class="sub-menu-container">
    <form>
      <div class="sub-menu-title">
      Modify Attendance
      </div>
      <div class="sub-menu-options">Roll number:</div>
      <div class="form-elements">
      <input type="text" class="form-control valign-this-block" id="rollno">
      </div>
      <div class="sub-menu-options">Date:</div>
      <div class="form-elements">
      <input type="text" class="form-control valign-this-block" id="date" placeholder="In format:yyyy-mm-dd">
      </div>
      <div class="sub-menu-options">Set:</div>
      <div class="form-elements valign-this-block">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="set-options" id="option1" checked>Present
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="set-options" id="option2">Absent
          </label>
        </div>
      </div>
      <div class="sub-menu-button btn btn-default btn-lg">
      Modify
      </div>
      <div id="modify-cancel" class="sub-menu-button btn btn-default btn-lg">
      Cancel
      </div>
    </form>
  </div>
</div>
<div id="my-content" >
  <div id="header">
    <div id="title">
    Attendance
    </div>
  </div>
  <div id="my-body">
    <div id="toolbar">
      <!--div class="toolbar-element">Show Attendance</div-->
      <div id="download-button" class="toolbar-element">Download Attendance</div>
      <div id="modify-button" class="toolbar-element">Modify Attendance</div>
      <div class="toolbar-element">Change Timings</div>
      <div class="toolbar-element">Recalculate Attendance</div>
    </div>
  	<div id = "table-container" class ="display">
	  	<table id="table_id" class="display">
  {% elif user.username != "" %}
  <div class="alert alert-danger" role="alert">
    <p class = "lead">Not authorized to view the data.</p>
  </div>
  {% else %}
  <div class="alert alert-success" role="alert">
    <p class = "lead">Login to view the data</p>
  </div>
{% endif %}
  		</table>
  	</div>
  </div>
</div>

</body>
</html>
