<!DOCTYPE html>
<head>
  <!-- //jquery, AJAX -->
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="../../static/webApp/js/crossfilter.js"></script>
  <script type="text/javascript" src="../../static/webApp/js/d3.js"></script>
  <script type="text/javascript" src="../../static/webApp/js/dc.js"></script>
  <script type="text/javascript" src="../../static/webApp/js/dataprocess.js"></script>
  

  <title>LoadAPI</title>
</head>
<input type = "hidden" id = "api_data" value = "{{ api_data }}">
{{ api_data }}